In [132]:
import pandas as pd
from itertools import combinations
from calendar import month_name

In [133]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
112,tt1018765,28000000,7002261,Our Brand Is Crisis,Sandra Bullock|Anthony Mackie|Billy Bob Thornt...,David Gordon Green,May the best campaign win.,"A feature film based on the documentary ""Our B...",108,Drama|Comedy,Participant Media|Smokehouse Pictures,9/11/2015,5.7,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
1868,tt0204175,16000000,20627372,Boys and Girls,Freddie Prinze Jr.|Claire Forlani|Jason Biggs|...,Robert Iscove,Warning: Sex Changes Everything,Ryan and Jennifer are opposites who definitely...,94,Comedy|Drama|Romance,Dimension Films,6/16/2000,5.3,2000
1566,tt0372183,75000000,288500217,The Bourne Supremacy,Matt Damon|Franka Potente|Brian Cox|Julia Stil...,Paul Greengrass,They should have left him alone.,When a CIA operation to purchase classified Ru...,108,Action|Drama|Thriller,Universal Pictures|The Kennedy/Marshall Compan...,7/23/2004,7.1,2004
156,tt1924435,17000000,136621271,Let's Be Cops,Jake Johnson|Damon Wayans Jr.|Nina Dobrev|Rob ...,Luke Greenfield,Fake Cops. Real Trouble.,It's the ultimate buddy cop movie except for o...,104,Comedy,Twentieth Century Fox Film Corporation|WideAwa...,8/13/2014,6.4,2014

In [134]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [135]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# the time given in the dataset is in string format.
# So we need to change this in datetime format
data.release_date = data.release_date.apply(lambda x:pd.to_datetime(x))

# добавляем колонку "profit" = revenue - budget
data['profit'] = data.revenue - data.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [136]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [137]:
# тут пишем ваш код для решения данного вопроса:
answer_cell = data[data.budget == data.budget.max()].original_title 
print(*answer_cell)

Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [138]:
# можно добавлять разные варианты решения
result_movie = list(data[data.budget == data.budget.max()].original_title)[0]

print(f'The most expensive film is "{result_movie}"')

The most expensive film is "Pirates of the Caribbean: On Stranger Tides"

# 2. Какой из фильмов самый длительный (в минутах)?

In [139]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [140]:
result_movie = list(data[data.runtime == data.runtime.max()].original_title)[0]

answers['2'] = result_movie
print(f'''The longest movie is "{result_movie}"''')

The longest movie is "Gods and Generals"

# 3. Какой из фильмов самый короткий (в минутах)?

In [141]:
result_movie = list(data[data.runtime == data.runtime.min()].original_title)[0]

answers['3'] = result_movie
print(f'''The shortest movie is "{result_movie}"''')

The shortest movie is "Winnie the Pooh"

# 4. Какова средняя длительность фильмов?

In [142]:
result = data.runtime.mean()

answers['4'] = round(result, 1)
print(f'''Avg duration = ~{result:.1f} Min''')

Avg duration = ~109.7 Min

# 5. Каково медианное значение длительности фильмов?

In [143]:
result = data.runtime.median()

answers['5'] = round(result, 1)
print(f'''Median duration = {result:.1f} Min''')

Median duration = 107.0 Min

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [144]:
# лучше код получения столбца profit вынести в Предобработку что в начале

result_movie = list(data[data.profit == data.profit.max()].original_title)[0]

answers['6'] = result_movie
print(f'''The most profitable movie is "{result_movie}"''')

The most profitable movie is "Avatar"

# 7. Какой фильм самый убыточный?

In [145]:
result_movie = list(data[data.profit == data.profit.min()].original_title)[0]

answers['7'] = result_movie
print(f'''The least profitable movie is "{result_movie}"''')

The least profitable movie is "The Lone Ranger"

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [146]:
# вытаскиваем количество таких фильмов из вывода describe()
result = int(data[data.revenue > data.budget].describe()['budget'][0])

answers['8'] = result
print(f'''Number movies | profit > budget = {result}''')

Number movies | profit > budget = 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [147]:
year_to_query = 2008

# создаём DF с фильмами конерктного года выпуска year_to_query
df_refined_rls_yr = data.query('release_year == '+ str(year_to_query))

result_movie = list(df_refined_rls_yr[df_refined_rls_yr['revenue']\
                                      == df_refined_rls_yr['revenue']\
                                      .max()].original_title)[0]

answers['9'] = result_movie
print(f'''The movie of {year_to_query} with max revenue is "{result_movie}"''')

The movie of 2008 with max revenue is "The Dark Knight"

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [169]:
year_to_query_start = 2012
year_to_query_end = 2014

# создаём DF с фильмами годов выпуска year_to_query_start до year_to_query_end включительно
df_refined_rls_yrs = data.query(str(year_to_query_start)\
                                + '<= release_year <='\
                                + str(year_to_query_end))

result_movie =\
list(df_refined_rls_yrs[df_refined_rls_yrs['profit']\
                        == df_refined_rls_yrs['profit']\
                        .min()].original_title)[0]

answers['10'] = result_movie
print(f'''The movie of {year_to_query_start}-{year_to_query_end} with min profit is "{result_movie}"''')

The movie of 2012-2014 with min profit is "The Lone Ranger"

# 11. Какого жанра фильмов больше всего?

In [149]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

#  Вариант без использования pd.explode() и pd.str.split()
#  Составляем список уникальных жанров lst_unique
lst_cumulative_genres=[]
for str_merged in list(data.genres.unique()):
    for elem in str_merged.split('|'):
        lst_cumulative_genres.append(elem)
lst_unique=list(set(lst_cumulative_genres))

# Инициализируем словарь количества вхождений того или иного жанра
dict_genre_occurencies = dict()

for elem in lst_unique:
    dict_genre_occurencies[elem] = 0

# Считаем для каждого жанра количество вхождений и сохраняем в словарь
for cell in data.genres:
    for genre in lst_unique:
        if genre in str(cell):
              dict_genre_occurencies[genre]+=1

# В словаре находим жанр с максимальным количеством упоминаний
maxkey = ''
maxvalue = 0
for key, value in dict_genre_occurencies.items():
    if int(value) >= maxvalue:
        maxkey = key
        maxvalue = value

print(f'Most popular genre is "{maxkey.lower()}"')

Most popular genre is "drama"

ВАРИАНТ 2

In [150]:
# Решение средствами pandas
# разделяем str с жанрами по разделителю '|', и разворачиваем по жанру
result_genre = data['genres'].str.split('|').explode().mode()[0]

answers['11'] = result_genre
print(f'Most popular genre is "{result_genre.lower()}"')

Most popular genre is "drama"

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [151]:
# выбираем только прибыльные (profit > 0) фильмы
data_profitable_movies = data[data['profit'] > 0]

result_genre = data_profitable_movies['genres']\
.str.split('|').explode().value_counts().index[0]

answers['12'] = result_genre
print(f'Most profitable genre is "{result_genre.lower()}"')

Most profitable genre is "drama"

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [152]:
# группируем по режиссёрам и вытаскиваем по каждому сумму кассовых сборов
result_director = data.groupby(['director']).revenue.sum()\
.sort_values(ascending=False).index[0]

answers['13'] = result_director
print(f'The director who produce the max cumulative revenue is {result_director}')

The director who produce the max cumulative revenue is Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [153]:
genre_to_query="Action"

# собираем в DF data_selected_genre только фильмы жанра genre_to_query
data_selected_genre = data[data.genres.str.contains(genre_to_query)]

result_director = data_selected_genre.director.str.split('|').explode()\
.value_counts().sort_values(ascending = False).index[0]

answers['14'] = result_director
print(f'The director who filmed most of {genre_to_query.lower()} movies is {result_director}')

The director who filmed most of action movies is Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [154]:
release_year_to_query = 2012

# пишем во временный DataFrame df только данные о фильмах года выпуска release_year_to_query
df = data[data['release_year'] == release_year_to_query]

# разделяем список актёров по |
df['cast'] = df['cast'].str.split('|')

# разворачиваем df по списку актёров
df = df.explode('cast')

result_artist = df.groupby(['cast']).revenue.sum()\
.sort_values(ascending=False).index[0]

answers['15'] = result_artist
print(f'The artist who contributed to the max revenue in the year {release_year_to_query} is {result_artist}')

The artist who contributed to the max revenue in the year 2012 is Chris Hemsworth

<ipython-input-154-754a4d7c4c22>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast'] = df['cast'].str.split('|')

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [155]:
# используем describe(), чтобы вытащить 50%-квантиль (соотв. высокобюджетным фильмам)
result_artist = data[data['budget'] > data['budget'].describe()[5]].cast\
.str.split('|').explode().mode()[0]

answers['16'] = result_artist
print(f'The artist who was filmed in the largest amount of high budget films is {result_artist}')

The artist who was filmed in the largest amount of high budget films is Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [156]:
artist_to_query = "Nicolas Cage"

# используем str.contains(), чтобы не усложнять через str.split('|') и explode()
result_genre = data[data['cast'].str.contains(artist_to_query)]['genres']\
.str.split('|').explode().mode()[0]

answers['17'] = result_genre
print(f'The genre, which {artist_to_query} was mostly filmed in is: {result_genre.lower()}')

The genre, which Nicolas Cage was mostly filmed in is: action

# 18. Самый убыточный фильм от Paramount Pictures

In [157]:
company_to_query = "Paramount Pictures"

# через iloc[0] вытаскиваем по номеру индекса искомое значение из сорт. объекта
result_movie = data[data['production_companies'].str.contains(company_to_query)]\
.sort_values(['profit'], ascending='False').original_title.iloc[0]

answers['18'] = result_movie
print(f'The least profitably film of {company_to_query} is "{result_movie}"')

The least profitably film of Paramount Pictures is "K-19: The Widowmaker"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [158]:
# интереса ради не меняем порядок сортировки, вытаскиваем с конца первый элем.
result_year = data.groupby(['release_year']).revenue.sum()\
.sort_values().index[-1]

answers['19'] = result_year
print(f'The year of max cumulative revenue is {result_year}')

The year of max cumulative revenue is 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [159]:
production_company_to_query = "Warner Bros"

result_year =\
data[data['production_companies'].str.contains(production_company_to_query)]\
.groupby(['release_year']).profit.sum().sort_values().index[-1]

answers['20'] = result_year
print(f'The most profitably year for {production_company_to_query} is {result_year}')

The most profitably year for Warner Bros is 2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [160]:
# используем calendar.month_name(), чтобы получить назв. месяца вместо номера
result_month = month_name[data['release_date'].dt.month.value_counts()\
                          .sort_values(ascending=False).index[0]]

answers['21'] = result_month
print(f'The most productive month over all years is {result_month}')

The most productive month over all years is September

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [161]:
# shape[0] возвр. кол-во индексов фильрованного по летним (6-8) месяцам DF
result = data.loc[(data['release_date'].dt.month >= 6)\
                  & (data['release_date'].dt.month <= 8)].shape[0]

answers['22'] = result
print(f'The number of movies released in summer is {result}')

The number of movies released in summer is 450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [162]:
# выбираем только записи с зимними релизами
df_winter = data.loc[(data['release_date'].dt.month == (12 or 1 or 2))]
result_director = df_winter.director.str.split('|')\
.explode().value_counts().index[0]

answers['23'] = result_director
print(f'Winter is the most productive season for the director {result_director}')

Winter is the most productive season for the director Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [163]:
# создаём столбец с длинами названий и добавляем его к копии DF data
title_length = data['original_title'].apply(lambda s:len(s))
df_tmp = data.copy()
df_tmp['title_length'] = title_length

df_tmp['production_companies'] = df_tmp['production_companies'].str.split('|')
df_tmp = df_tmp.explode('production_companies')

# определяем максимальную длину из всех названий
max_length = df_tmp['title_length'].max()
# группируем по компаниям, сортируем по длинам названий
df_companies_longest_title_len =\
pd.DataFrame(df_tmp.groupby('production_companies')['title_length'].max()\
             .sort_values(ascending=False))
# вытаскиваем искомые студии
result_companies =\
df_companies_longest_title_len[df_companies_longest_title_len['title_length']\
                               == max_length].index.tolist()

answers['24'] = result_companies
print(f'Production company(ies):\n\t{", ".join(str(elem) for elem in result_companies)}\ngive(s) the longest film names (acc. to chars count)')

Production company(ies):
	Four By Two Productions, Twentieth Century Fox Film Corporation
give(s) the longest film names (acc. to chars count)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [164]:
# по аналогии с предыдущим, только здесь берём mean() вместо max()
overview_word_count = data['overview'].apply(lambda s:len(s.split()))

df_tmp = data.copy()
df_tmp['overview_word_count'] = overview_word_count

df_tmp['production_companies'] = df_tmp['production_companies'].str.split('|')
df_tmp = df_tmp.explode('production_companies')


df_long_overv_mean_word_count =\
pd.DataFrame(df_tmp.groupby('production_companies')['overview_word_count']\
             .mean().sort_values(ascending=False))
max_length = df_long_overv_mean_word_count.max()[0]

result_companies =\
df_long_overv_mean_word_count[df_long_overv_mean_word_count['overview_word_count']\
                              == max_length].index.tolist()

answers['25'] = result_companies
print(f'Production company(ies):\n\t{", ".join(str(elem) for elem in result_companies)}\ngive(s) the longest mean film overview (acc. to words count)')

Production company(ies):
	Midnight Picture Show
give(s) the longest mean film overview (acc. to words count)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [165]:
# 1 процент лучших - по 99% перцентилю, из вывода describe()
result_movies = data[data['vote_average'] > data['vote_average']\
                     .describe(percentiles=[0.99])[5]].original_title.tolist()

answers['26'] = result_movies
print(f'1% Top Movie(ies) by average vote:\n{", ".join(str(elem) for elem in result_movies)}')

1% Top Movie(ies) by average vote:
Inside Out, Room, Interstellar, Guardians of the Galaxy, The Imitation Game, Gone Girl, The Grand Budapest Hotel, Inception, The Dark Knight, The Pianist, The Lord of the Rings: The Return of the King, The Wolf of Wall Street, 12 Years a Slave, Memento

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [166]:
# разделяем актёров по '|' и сразу составляем комбинации по двум
df_tmp = data.copy()
df_tmp['cast'] = data['cast'].str.split('|')
df_tmp['cast'] = df_tmp['cast'].apply(lambda x: list(combinations(x, 2)))
df_tmp['cast'].explode().mode()
df_result_pair = pd.DataFrame(df_tmp['cast'].explode().value_counts())
max_occurence = df_result_pair.max()[0]

result = df_result_pair[df_result_pair['cast'] == max_occurence].index.tolist()
answers['27'] = result
print(f'Most frequently occurred artist pair(s):\n{result}')

Most frequently occurred artist pair(s):
[('Daniel Radcliffe', 'Rupert Grint'), ('Daniel Radcliffe', 'Emma Watson')]

# Submission

In [170]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.7,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': ['Four By Two Productions', 'Twentieth Century Fox Film Corporation'],
 '25': ['Midnight Picture Show'],
 '26': ['Inside Out',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Dark Knight',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento'],
 '27': [('Daniel Radcliffe', 'Rupert Grint'),
  ('Daniel Radcliffe', 'Emma Watson')],
 '10': 'The Lone Ranger'}

In [171]:
# и убедиться что ни чего не пропустил)
len(answers)

27